<body class="hold-transition sidebar-mini">

    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Formulario</h1>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="form-group row">
                    <label for="input_nombre" class="col-form-label col-sm-2">Nombre Completo</label>
                    <input type="text" class="col-sm-offset-1 col-sm-10" name="p1" id="p1" placeholder="">
                    <label for="input_apellido" class="col-form-label col-sm-2">Lugar de recogida</label>
                    <input type="text" class="col-sm-offset-1 col-sm-10" name="p2" id="p2" placeholder="">
                    <label for="input_cip" class="col-form-label col-sm-2">Fecha de Recogida</label>
                    <input type="text" class="col-sm-offset-1 col-sm-10" name="p3" id="p3" placeholder="">
                    <label for="input_cip" class="col-form-label col-sm-2">Fecha de Devolucion</label>
                    <input type="text" class="col-sm-offset-1 col-sm-10" name="p3" id="p3" placeholder="">
                    <label for="input_cip" class="col-form-label col-sm-2">Edad del Solicitante </label>
                    <input type="text" class="col-sm-offset-1 col-sm-10" name="p4" id="p4" placeholder="">
                    

                    <label for="input_patologia" class="col-form-label col-sm-2">Eliga el Modelo:</label>
                    <select name="sx"> <option value="cardiovascular">Toyota Rav4</option>
                               <option value="neuromuscular">Toyota Hilux</option>
                               <option value="toracica">Suzuki Switf</option>
                               <option value="disminucionCapacidad">Nissan Urban</option>
                               <option value="disminucionCapacidad">Honda CRV</option>
                               <option value="disminucionCapacidad">Mitsubishi ASX</option>
                               <option value="disminucionCapacidad">BMW X5</option>
                               <option value="disminucionCapacidad">Convertible Saturn Sky</option>

            </select></div>

                <div class="form-group row"><label for="space" class="col-form-label col-sm-2"></label>
                    <input type="button" value="Continuar" onclick="location.href='/'"></div>
            </section>
            <!-- /.content -->
        </div>


        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Versión:</b> Prototipo de Prueba
            </div>
            <strong>Copyright &copy; 2021</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
